* {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

body {
  margin: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

.left-upper {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 55%;
  // background-color: skyblue;
}

.right-upper {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 45%;
  // background-color: green;
}

.left-middle {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 55%;
  // background-color: brown;
}

.right-middle {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 45%;
  // background-color: yellow;
}

.links {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  // background-color: purple;
}

.left-bottom {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 60%;
  // background-color: orange;
}

.right-bottom {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 40%;
  // background-color: gray;
}

@media screen and (max-width: 800px) {
  .left-upper, .right-upper, .left-lower, .right-lower, .links {
    width: 100%;
  }
}

.name {
  font-family: 'Major Mono Display', monospace;
  font-size: 10vw;
}

.title {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  // font-family: 'Lato', monospace;
  font-size: 3vw
}

.info {
  text-align: right;
  font-family: 'Lato', monospace;
  font-size: 2vw;
}

.links {
  font-family: 'Lato', monospace;
  font-size: 1vw;
}

.connect {
  font-family: 'Alfa Slab One', cursive;
  font-size: 5vw;
}
