<div class="left-upper">
  <div class="name">
    MIKE HERNANDEZ
  </div>
  <div class="title">
    software developer
  </div>
</div>

<div class="right-upper">
  <div class="info">
    "If you're really struggling and getting nowhere, you're probably doing it wrong."
  </div>
</div>

<div class="left-middle">
  <div class="mid-info-l">
    I'm Mike and I live in Denver, Colorado.  Coming from
    a sales background I'm a great communicator and use my skillset to combine
    great ideas into great software.
  </div>
</div>

<div class="right-middle">
  <div class="mid-info-r-title">
    MY STACK
  </div>
  <div class="mid-info-r">
    python ruby flask django rails active record rspec agile processes continuous integration
    continuous deployment git version control rest api test driven development
    relational databases rspec minitest heroku bootstrap cascading style sheets html mechanical keyboards
  </div>
</div>

<div class="wide-banner">
  <div class="banner-text">
    I'm currently working as a software developer at ReRent, helping people
    share their homes on Airbnb with amazing ease.
  </div>
</div>

<div class="left-bottom">
  <div class="connect">
    connect with me
  </div>
</div>

<div class="right-bottom">
  <div class="connect-links">
    LinkedIn<br>
    Email<br>
    Github<br>
  </div>
</div>

<div class="bottom-signature">
  Mike Hernandez 2020 | hernandezmichael321@gmail.com
</div>
