<div class="trackable">
  <div class="left-upper">
    <div class="name">
      MIKE HERNANDEZ
    </div>
    <div class="title">
      software developer
    </div>
  </div>

  <div class="right-upper">
    <div class="info">
      Python/Django Developer in Denver, CO
    </div>
  </div>

  <div class="left-middle">
    <div class="mid-info-l">
      Coming from
      a sales background I'm a great communicator and use my skillset to combine
      the best ideas into great software.
    </div>
  </div>

  <div class="right-middle">
    <div class="mid-info-r-title">
      stack
    </div>
    <div class="mid-info-r">
      python ruby flask django rails object oriented programming
      object relational mapping agile processes continuous integration
      continuous deployment git version control rest api test driven development
      relational databases rspec minitest heroku bootstrap cascading style sheets html mechanical keyboards
    </div>
  </div>

  <div class="wide-banner">
    <div class="banner-text">
      I believe that life should be easy, and if you find yourself trying really hard
      and not making progress, you're likely just doing it wrong.  I strive make things effortless.
    </div>
  </div>

  <div class="left-bottom">
    <div class="connect">
      connect with me
    </div>
  </div>

  <div class="right-bottom">
    <div class="connect-link">
      <%= link_to "LinkedIn", "http://www.linkedin.com/in/mikez321" %><br>
    </div>
    <div class="connect-link">
      <a href="mailto:hernandezmichael321@gmail.com">Email</a><br>
    </div>
    <div class="connect-link">
      <%= link_to "Github", "https://github.com/mikez321" %><br>
    </div>
  </div>

  <div class="bottom-signature">
    hernandezmichael321@gmail.com | Mike Hernandez 2020 | Currently a developer at ReRent.co
  </div>
</div>
