<div class="left-upper">
  <div class="name">
    MIKE HERNANDEZ
  </div>
  <div class="title">
    software developer
  </div>
</div>

<div class="right-upper">
  <div class="info">
    If you're really struggling and getting nowhere, you're probably doing it wrong.
  </div>
</div>

<div class="left-middle">
  Hopefully this is on the bottom left
</div>

<div class="right-middle">
  And hopefully this is on the bottom right
</div>

<div class="links">
  Python | Flask | Django | Ruby | Rails | PSQL | Travis CI | Github
</div>

<div class="left-bottom">
  <div class="connect">
    connect with me
  </div>
</div>

<div class="right-bottom">
  <div class="connect" style="font-size:3vw;">
    LinkedIn<br>
    Email<br>
    Github<br>
  </div>
</div>
