<!-- <div id='big-spin' class='centered'> -->
<div class='centered'>
  <div id='yellow-triangle-front'></div>
  <!-- <div id='yellow-triangle-right'></div> -->
  <div id='gry-triangle-front'></div>
  <div id='red-triangle-front'></div>
  <div id='gry-triangle-front-s'></div>
  <div id='red-triangle-front-s'></div>
  <!-- <div id='red-triangle-right'></div> -->
  <!-- <div id='gry-triangle-right'></div> -->
  <!-- <div id='yellow-triangle-down-s'></div>
  <div id='yellow-triangle-right-s'></div>
  <div id='gry-triangle-right-s'></div>
  <!-- <div id='red-triangle-right-s'></div> -->
</div>
