<div id="name">
  Mike Hernandez
  <div id='underline'></div>
</div>
<div id='big-spin' class='centered'>
  <div id='yellow-triangle-back'></div>
  <div id='yellow-triangle-front'></div>
  <div id='gry-triangle-back'></div>
  <div id='gry-triangle-front'></div>
  <div id='red-triangle-back'></div>
  <div id='red-triangle-front'></div>
  <div id='yellow-triangle-back-s'></div>
  <div id='yellow-triangle-front-s'></div>
  <div id='gry-triangle-back-s'></div>
  <div id='gry-triangle-front-s'></div>
  <div id='red-triangle-back-s'></div>
  <div id='red-triangle-front-s'></div>
</div>
<section id='links'>
  <%= image_tag 'iconfinder_Github_381376.png', :id => 'connect-link' %>
  <%= image_tag 'iconfinder_112-gmail_email_mail_4202011.png', :id => 'connect-link' %>
  <%= image_tag 'iconfinder_linkedin_square_gray_107090.png', :id => 'connect-link' %>
</section>
