<div class="info-page">
  <div class="logo-container">
    <%= image_tag "https://simpleicons.org/icons/python.svg", :class => 'logo' %>
  </div>
  <div class="page-info">
    I'm a Python developer at ReRent where we're reimagining homesharing.
    I write raw Python code, and am proficent in Django and Flask.
  </div>
  </div>
</div>
